<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col md-12 bg" style="background-image: url('./assets/backgrounds/villeduvin.png');background-repeat: no-repeat;">
          <div class="row">
              <div class="col-lg-5 col-md-5 mx-auto logo-topo">
                <img src="./assets/backgrounds/evento-ville.png" alt="evento-ville">            
              </div>
          </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col md-12">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto evento">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 img-destaque desktop">
                            <img src="./assets/photos/evento.png" alt="evento">            
                        </div>
                        <div class="col-lg-6 col-md-6 txt-textos ville-txt">
                            A Ville du Vin oferece em seus 
                            bistrôs no Itaim Bibi e Alphaville, 
                            eventos especiais onde você vai 
                            participar de uma experiência única 
                            de degustação enogastronômica.
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 mx-auto">
                                <div class="img-vinho-evento desktop">
                                    <img src="./assets/photos/vinho-um.png" alt="">
                                </div>
                                <div class="img-vinho-evento v1 desktop">
                                    <img src="./assets/photos/menu.png" alt="">
                                </div>
                                <div class="card-evento">
                                    Cada evento possui um cardápio exclusivo 
                                    pensado pela nossa Chef, e uma carta de 
                                    vinhos escolhidos com todo cuidado para que 
                                    você tenha a melhor experiência possível.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-9 col-md-9 mx-auto text-center alerta">
            <img src="./assets/icons/alert.png" alt="atencao">
            <div class="txt-alerta">
                Em função do número limitado de lugares, as reservas deverão
                ser confirmadas mediante pagamento até 3 dias antes do evento.
                Caso haja cancelamento será reembolsado 50% do valor.
            </div>
        </div>
    </div>
</div>
<app-unidades></app-unidades>