@import 'variables';
@import 'components';
@import 'helpers'; 

.card-evento {
    color: $color-2;
    position: relative;    
    font-size: 1.2em;
    background-color: $color-5;
    font-family: 'IgnaSans-Regular';
    @include media-breakpoint-down(md) {
        left: 0;
        top: 0;
        text-align: center;
        padding: 20px 30px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        left: -50px;
        top: -100px;
        padding: 100px 330px 100px 100px;
    }
}
.img-vinho-evento{
    position: absolute;
    top: -300px;
    left: 220px;
    z-index: 1;
    img{
        width: 50%;
    }
    &.v1{
        top: -230px;
        left: 650px;
        img {
            width: 300px;
        }
    }
    
}
.alerta {
    font-family: 'IgnaSans-Regular';
    @include media-breakpoint-down(md) {
        padding: 30px 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding-block-end: 50px;
    }
    .txt-alerta {
        color: $color-7;
        font-size: 1.2em;
        font-family: 'IgnaSans-Regular';
        @include media-breakpoint-down(md) {
            padding: 20px 0;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 20px 100px;
        }
    }
}

.bg {
    @include media-breakpoint-down(md) {
        height: 50vh;
    }
}

.ville-txt {
    @include media-breakpoint-down(md) {
        padding: 0 40px 50px 40px;
        text-align: center;
    }
}