<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 fale">
            <div class="row">
                <div class="col-lg-6 col md-6 falecon">
                    <h1>Fale Conosco</h1>
                    <div class="unidade">
                        <p class="txt-destaque">Unidade Itaim</p>
                        <p class="txt-unidade">
                            <img src="./assets/icons/localizador.png" alt="">
                            Rua Leopoldo Couto Magalhães Jr, 490
                        </p>
                        <p class="txt-unidade">
                            <img src="./assets/icons/whatsapp.png" alt="">
                            Contato: Cassia Andrade - (11) 93370 2386
                        </p>
                    </div>
                    <div class="unidade">
                        <p class="txt-destaque">Unidade Alphaville</p>
                        <p class="txt-unidade">
                            <img src="./assets/icons/localizador.png" alt="">
                            Alameda Tocantins, 75
                        </p>
                        <p class="txt-unidade">
                            <img src="./assets/icons/whatsapp.png" alt="">
                            Contato: Luciana Zarif - (11) 93028 391
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 falecon v1">
                   <div class="card-form">
                       <form action="#">
                           <div class="txt-form">
                               Tem alguma dúvida ou sugestão?
                                Nos envie uma mensagem!
                           </div>
                           <input type="text" name="nome" placeholder="Nome">
                           <input type="email" name="email" placeholder="Email">
                           <input type="text" name="telefone" placeholder="Telefone">
                           <button type="submit" class="btn-vdv v2"> Enviar </button>
                       </form>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>