@import 'variables';
@import 'components';
@import 'helpers'; 

.fale {
    background-color:  $color-10;
    overflow: hidden;
    font-family: 'IgnaSans-Regular';
    @include media-breakpoint-down(md) {
        padding: 150px 30px 50px 30px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 100px 0 30px 0;
    }
}
h1 {
    font-family: 'LemonTuesday';
    font-size: 3.5em;
    color: $color-5;
}
.falecon {
    @include media-breakpoint-down(md) {
        padding: 0 30px 0 10px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 50px 130px 0 130px;
    }
    img {
        width: 90%;
    }
    &.v1 {
        @include media-breakpoint-down(md) {
            padding: 50px 0 0 0;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 50px 140px 0 0;
        }
    }
}
.unidade {
    padding: 20px 0;
    .txt-destaque {
        font-size: 1.5em;
    }
    .txt-unidade {
        color: $color-7;
        @include media-breakpoint-down(md) {
            font-size: 1.5em;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            font-size: 1.2em;            
        }
        img {
            @include media-breakpoint-down(md) {
                width: 7%;
            }
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {
                width: 5%;
            }
        }
    }
}

.card-form {
    background-color: $color-2;
    border-radius: 8px;
    @include media-breakpoint-down(md) {
        padding: 50px 10px 100px 20px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 50px 30px 100px 50px;
    }
    .txt-form{
        text-align: center;
        color: $color-5;
        @include media-breakpoint-down(md) {
            font-size: 1.0em;
            padding: 0 30px;   
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            font-size: 1.5em;
            padding: 0 40px 20px 40px;            
        }
    }
    .btn-vdv{
        width: 95%;
    }
}