@import 'variables';
@import 'components';
@import 'helpers';

.menu {
    background-color:  $color-2;
    position: fixed;
    z-index: 999;
    @include media-breakpoint-down(md) {
      padding: 17px 0 0 50px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
      padding: 17px 0 17px 50px;
    }
}
.logo {
    img {
        @include media-breakpoint-down(md) {
            width: 45%;
            position: relative;
            left: -30px;
            top: -10px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            width: 70%;
        }
    }
    &.v-mob {
      img {
        @include media-breakpoint-down(md) {
          position: relative;
          left: 20px;
          top: -5px;
        }
      }
    }
}
nav {
    position: relative;
    top: 15px;
    left: -50px;
    li {
        display: inline;
        padding: 30px;
        font-family: 'IgnaSans-Medium';
    }
    a {
    color: $color-1;
    font-size: 1.0em;
    text-decoration: none;
    }
}
.img-search {
    position: relative;
    right: 30px;
    top: 10px;
    img {
        width: 70%;
    }
}

/* Dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    font-size: 0.8em;
    display: none;
    position: fixed;
    left: 0;
    top: 78px;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    .menu-vinho {
        background-color: $color-1;
        padding: 30px 10px;
        font-size: 1.3em;
        &:hover {
            background-image: url(../../../assets/backgrounds/menu.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &.v1{
            &:hover {
                background-image: none;
            }
        }
        li {
            display: block;
            font-size: 0.8em;
            padding: 7px 0;
        }
    }
}
.dropdown-content a {
    text-decoration: none;
    color: $color-2;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.modal-content {
    border: none;
    width: 1200px;
    position: relative;
    left: -70%;
    background-color: transparent;
    .close {
        position: relative;
        left: 50%;
    }
}

/*Menu Mobile*/
.menu-mob {
    position: absolute;
    top: 10px;
    left: 210px;
  }
  #menuToggle
  {
    display: block;
    position: relative;
    top: 0;
    left: 70px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 10%;
  }
  #menuToggle a
  {
    text-decoration: none;
    color: $color-4;
    transition: color 0.3s ease;
  }
  #menuToggle input
  {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span
  {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 7px;
    position: relative;
    background: $color-5;
    border-radius: 15px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(0px, -1px);
    background:  $color-2;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0px, -1px);
  }
  #menu
  {
    text-align: left;
    position: absolute;
    top: -50px;
    left: -295px;
    width: 375px;
    height: 100vh;
    padding: 100px 20px 20px 20px;
    background: $color-5;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menu li
  {
    padding: 20px;
    font-size: 1.5em;
    display: block;
  }

  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

.btn-vdv {
  &.vm {
    border: 2px solid $color-2;
    // padding: 20px 60px;
    text-transform: uppercase;
    font-size: 1.2em;
    position: relative;
    top: 50px;
    img {
      width: 9%;
    }
  }
}

.fale{
  margin-left: auto;
}
