<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 menu">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 logo">
                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='/home'>
                                <img src="./assets/logos/villeduvin.png" alt="logo-villeduvin">
                            </a>
                        </div>
                        <nav class="desktop">
                            <ul>
                                <li class="dropdown">
                                    Vinhos <img src="./assets/icons/arrow-down.png" alt="">
                                    <div class="col-lg-12 col-md-12 dropdown-content text-center">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 text-uppercase menu-vinho v1">
                                                <a href="javascript:void(0)" [routerLink]="['/vinhos']" routerLinkActive="active">
                                                    <p>Ver Todos</p>
                                                </a>
                                                <a href="javascript:void(0)" [routerLink]="['/vinhos']" routerLinkActive="active">
                                                    <p>Simulador</p>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-2 menu-vinho">
                                                <a><p>Mais vendido</p></a>
                                                <a href="javascript:void(0)" [routerLink]="['mais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['mais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['mais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['mais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['mais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['mais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['mais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['mais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['mais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                            </div>
                                            <div class="col-lg-2 col-md-2 menu-vinho">
                                                <a><p>Por Preço</p></a>
                                                <a href="javascript:void(0)" [routerLink]="['preco']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['preco']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['preco']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['preco']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['preco']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['preco']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['preco']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['preco']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['preco']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                            </div>
                                            <div class="col-lg-2 col-md-2 menu-vinho">
                                                <a><p>País e Região</p></a>
                                                <a href="javascript:void(0)" [routerLink]="['pais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['pais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['pais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['pais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['pais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['pais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['pais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['pais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['pais']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                            </div>
                                            <div class="col-lg-2 col-md-2 menu-vinho">
                                                <a><p>Tipos de Vinho</p></a>
                                                <a href="javascript:void(0)" [routerLink]="['tiposv']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['tiposv']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['tiposv']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['tiposv']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['tiposv']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['tiposv']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['tiposv']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['tiposv']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['tiposv']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                            </div>
                                            <div class="col-lg-2 col-md-2 menu-vinho">
                                                <a><p>Seleção Especial</p></a>
                                                <a href="javascript:void(0)" [routerLink]="['selecaoesp']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['selecaoesp']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['selecaoesp']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['selecaoesp']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['selecaoesp']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['selecaoesp']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['selecaoesp']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['selecaoesp']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                                <a href="javascript:void(0)" [routerLink]="['selecaoesp']" routerLinkActive="active"><li>Lorem Ipsum</li></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <a href="javascript:void(0)" routerLinkActive='active' routerLink='/lojas'>
                                    <li>Lojas e Bistrôs</li>
                                </a>
                                <a href="javascript:void(0)" routerLinkActive='active' routerLink='/eventos'>
                                    <li>Eventos</li>
                                </a>
                                <a href="javascript:void(0)" routerLinkActive='active' routerLink='/sobre'>
                                    <li>Sobre</li>
                                </a>
                                <a href="javascript:void(0)" routerLinkActive='active' routerLink='/contato'>
                                    <li>Contato</li>
                                </a>
                            </ul>
                        </nav>
                        <!-- <div class="img-search desktop">
                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='#'>
                                <img src="./assets/icons/search.png" alt="pesquisar">
                            </a>
                        </div>                         -->
                        <a class="btn-vdv desktop fale" href="javascript:void(0)" routerLinkActive='active' routerLink='#' data-toggle="modal" data-target="#exampleModal">
                            <img src="./assets/icons/whatsapp.png" alt="whatsapp">
                            Fale com a gente
                        </a>

                        <!--menu mobile-->
                        <nav class="menu-mob mobile">
                            <div id="menuToggle" >
                                <input type="checkbox" class="check"/>
                                <span></span>
                                <span></span>
                                <span></span>
                                <ul id="menu">
                                    <a href="javascript:void(0)" routerLinkActive='active'routerLink='/vinhos'>
                                        <li>Vinhos</li>
                                    </a>
                                    <a href="javascript:void(0)" routerLinkActive='active'routerLink='/lojas'>
                                        <li>Lojas e Bistrô</li>
                                    </a>
                                    <a href="javascript:void(0)" routerLinkActive='active' routerLink='/eventos'>
                                        <li>Eventos</li>
                                    </a>
                                    <a href="javascript:void(0)" routerLinkActive='active' routerLink='/sobre'>
                                        <li>Sobre</li>
                                    </a>
                                    <a href="javascript:void(0)" routerLinkActive='active' routerLink='/contato'>
                                        <li>Contato</li>
                                    </a>
                                    <a class="btn-vdv vm" href="javascript:void(0)" routerLinkActive='active' routerLink='#' data-toggle="modal" data-target="#exampleModal">
                                        <img src="./assets/icons/whatsapp-white.png" alt="whatsapp">
                                        Fale com a gente
                                    </a>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <app-unidades></app-unidades>
                </div>
            </div>
        </div>
    </div>
</div>
