<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 bg" style="background-image: url('./assets/backgrounds/sobre.png');background-repeat: no-repeat;">
            <div class="row">
                <div class="col-lg-9 col-md-9 logo-topo v2">
                    <img src="./assets/backgrounds/quemsomos.png" alt="quemsomos">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto evento v1">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 img-destaque v1 order-lg-first">
                            <div class="card-bg"></div>
                            <img src="./assets/photos/sobre.png" alt="evento">            
                        </div> 
                        <div class="col-lg-6 col-md-6 ville-txt v1 order-first">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                             Donec semper ex ullamcorper interdum mollis. Nunc vitae 
                             blandit mi. Donec tempus viverra interdum. Morbi vitae 
                             efficitur quam. Aliquam ac ex blandit, semper neque eu,
                              pellentesque quam. Aenean at lorem quis dolor sollicitudin 
                              sollicitudin eu et dolor. Etiam dapibus mi quam, eu convallis eros mollis non.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 conheca">
            <h1 class="txt-conheca">Conheça nossas lojas</h1>
            <app-unidades></app-unidades>
        </div>
    </div>
</div>