@import 'variables';
@import 'components';
@import 'helpers'; 

.card-bg {
    background-color: $color-10;
    z-index: -1;
    position: absolute;    
    @include media-breakpoint-down(md) {
        width: 50px;
        height: 50vh;
        left: 0;
        top: -440px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        width: 500px;        
        height: 130vh;
        left: -50px;
        top: -110px;
    }
}

.conheca {
    padding: 50px 0;
    font-family: 'HoeflerText-Regular';
   .txt-conheca {
        color: $color-5;
        text-align: center;
        padding: 0 0 50px 0;
    }
}

.bg {
    @include media-breakpoint-down(md) {
        height: 50vh;
    }
}

.logo-topo {
    &.v2 {
        img {
            @include media-breakpoint-down(md) {
                position: relative;
                top: -60px;
                left: -205px;
            }
        }
    }
}
.evento {
    &.v1 {
        @include media-breakpoint-down(md) {
            padding: 0;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 100px 0 100px 0;
        }        
    }
}
.ville-txt{
    &.v1 {
        @include media-breakpoint-down(md) {
            padding: 50px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 210px 90px;
        }
    }
}
.img-destaque{
    &.v1{
        img {
            @include media-breakpoint-down(md) {
                position: relative;
                left: -40px;
            }
        }
    }
}