@import 'variables';
@import 'components';
@import 'helpers'; 

.card-unidade {
    height: 75vh;
    font-family: 'IgnaSans-Regular';
    box-shadow: -1px 0px 29px -2px rgba(0, 0, 0, 0.75);
    transform: scale(1);
    transition: all (1s);
    cursor: pointer;
    border: none;
    .txt-destaque {
        font-size: 1.3em;
    }
    img {
        height: 40vh;
    }
}
.unidade {
    font-size: 1.0em;
    color: $color-1;
    @include media-breakpoint-down(md) {
        padding: 0 70px 0 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
    
    img {
        @include media-breakpoint-down(md) {
            width: 10%;
            height: 4vh;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            width: 5.5%;
            height: 4vh;
        }
    }
}
.btn-vdv {
    font-family: 'IgnaSans-Medium';
    &.v2 {
        @include media-breakpoint-down(md) {
            padding: 10px 50px;
            top: 10px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 10px 113px;
            top: 10px;
        }        
    }
}
.teste {
    @include media-breakpoint-down(md) {
        padding-block-end: 50px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
}