<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 mx-auto teste">
                            <div class="card card-unidade">
                                <img src="./assets/photos/itaim.png" alt="itaim">
                                <div class="card-body">
                                  <p class="txt-destaque">Unidade Itaim</p>
                                  <p class="unidade">
                                      <img src="./assets/icons/localizador.png" alt="">
                                      Rua Leopoldo Couto Magalhães Jr, 490
                                    </p>
                                  <p class="unidade">
                                    <img src="./assets/icons/whatsapp.png" alt="">
                                    Contato: Cassia Andrade - (11) 93370 2386
                                </p>
                                  <a class="btn-vdv v2" href="https://mywhats.net/vdvmensagemluciana" target="blanc">
                                   Faça sua reserva
                                </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 mx-auto">
                            <div class="card card-unidade">
                                <img src="./assets/photos/alphaville.png" alt="itaim">
                                <div class="card-body">
                                  <p class="txt-destaque">Unidade Alphaville</p>
                                  <p class="unidade">
                                      <img src="./assets/icons/localizador.png" alt="">
                                      Alameda Tocantins, 75
                                    </p>
                                  <p class="unidade">
                                    <img src="./assets/icons/whatsapp.png" alt="">
                                    Contato: Luciana Zarif - (11) 93028 391
                                </p>
                                  <a class="btn-vdv v2" href="https://mywhats.net/vdvmensagemcassia" target="blanc">
                                   Faça sua reserva
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>