<div class="col-lg-12 col-md-12  mx-auto text-center desktop">
    <ngx-slick-carousel class="carousel"
        #slickModal="slick-carousel"
        [config]="vinhosConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let vinho of vinhos; let idx = index" class="slide" (click)="Slide(vinhos)">
                <div class="card card-vinho">
                    <div class="img-vinho">
                        <img [src]="vinho.wine" alt="vinho">
                    </div>                                
                    <div class="card-body">
                        <h5 class="card-title">{{ vinho.name }}</h5>
                        <p class="txt-textos">{{ vinho.price }}</p>
                        <div class="row text-left">
                            <div class="col-lg-4 col-md-4 icone">
                                <img src="./assets/icons/localizacao.png" alt="localizacao">
                                <a>País</a>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <img [src]="vinho.flag" alt="bandeira">
                                <a class="txt-textos vinho-pais">{{ vinho.pais }}</a>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-lg-4 col-md-4 icone">
                                <img src="./assets/icons/grapes.png" alt="uvas">
                                <a class="text-uppercase">Uva</a>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <a class="txt-textos">{{ vinho.grapes }}</a>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-lg-4 col-md-4 icone">
                                <img src="./assets/icons/produtor.png" alt="produtor">
                                <a>Produtor</a>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <a class="txt-textos">{{ vinho.produtor }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
    </ngx-slick-carousel> 
    <!-- <div class="setas v1">
        <a (click)="slickModal.slickPrev()" class="px-0">
            <img class="seta-um v1" src="./assets/icons/arrow-w-left.png" alt="">
        </a>
        <a (click)="slickModal.slickNext()" class="px-0">
            <img class="seta-dois" src="./assets/icons/arrow-w-right.png" alt="">
        </a>
    </div>                                                    -->
</div>
<div class="col-lg-12 col-md-12  mx-auto text-center mobile">
    <ngx-slick-carousel class="carousel"
        #slickModal="slick-carousel"
        [config]="vinhoConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let vinho of vinhos; let idx = index" class="slide" (click)="Slide(vinhos)">
                <div class="card card-vinho">
                    <div class="img-vinho">
                        <img [src]="vinho.wine" alt="vinho">
                    </div>                                
                    <div class="card-body">
                        <h5 class="card-title">{{ vinho.name }}</h5>
                        <p class="txt-textos">{{ vinho.price }}</p>
                        <div class="row text-left">
                            <div class="col-lg-4 col-md-4 icone">
                                <img src="./assets/icons/localizacao.png" alt="localizacao">
                                <a>País</a>
                            </div>
                            <div class="col-lg-8 col-md-8 vinho-info">
                                <img [src]="vinho.flag" alt="bandeira">
                                <a class="txt-textos vinho-pais">{{ vinho.pais }}</a>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-lg-4 col-md-4 icone">
                                <img src="./assets/icons/grapes.png" alt="uvas">
                                <a class="text-uppercase">Uva</a>
                            </div>
                            <div class="col-lg-8 col-md-8 vinho-info">
                                <a class="txt-textos">{{ vinho.grapes }}</a>
                            </div>
                        </div>
                        <div class="row text-left">
                            <div class="col-lg-4 col-md-4 icone">
                                <img src="./assets/icons/produtor.png" alt="produtor">
                                <a>Produtor</a>
                            </div>
                            <div class="col-lg-8 col-md-8 vinho-info">
                                <a class="txt-textos">{{ vinho.produtor }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </ngx-slick-carousel>
</div>