
@import 'helpers';

.bg {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.v1{
        height: 45vh;
    }
}
.txt-destaque {
    color: $color-5;
    &.v1{
        color: $color-2;
    }
}
.txt-textos {
    color: $color-6;
    font-family: 'IgnaSans-Regular';
}
.vinho {
    background-color: $color-7;
    &.vi{
        background-color: $color-8;
    }
}
.img-destaque{
    padding: 0 50px;
    img {
        width: 100%;
    }
    &.v1{
        padding: 0 0 0 110px;
        img {
            width: 90%;
        }
    }
}
.evento {
    padding: 50px 0 0 0;
    &.v1 {
        padding: 100px 0 100px 0 ;
    }
}
.ville-txt{
    padding: 150px 80px;
    font-size: 1.5em;
    font-family: 'IgnaSans-Regular';
    &.v1 {
        color: $color-9;
        padding: 210px 90px;
        font-size: 1.3em;
    }
}
.card {
    border: none;
}
.card-vinho {
    position: relative;
    left: 10%;
    width: 80%;
    padding: 10px 0;
    h5 {
        font-family: 'HoeflerText-Regular';
    }
    p {
        font-family: 'IgnaSans-Regular';
    }
    img {
        width: 20%;
    }
    a {
        font-size: 0.7em;
    }
    .img-vinho {
        img {
            position: relative;
            left: 40%;
        }
    }
    .icone {
        padding: 0 10px;
         font-family: 'IgnaSans-Bold';
        a {
            padding: 0 0 0 5px;
            position: relative;
            top: -20px;
            left: 20px;
        }
    }
    .vinho-pais {
        position: relative;
        top: -25px;
        left: 40px;
        text-transform: uppercase;
    }
}
.cards-vinhos {
    margin-top: 20px;
}
.modal-content {
    border: none;
}
.btn-vdv {
    background-color: transparent;
    border: 2px solid $color-5;
    color: $color-1;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.0em;
    padding: 10px 40px;
    font-family: 'IgnaSans-Medium';
    img {
        width: 15%;
    }

    &.v1 {
        position: relative;
        top: 50px;
        img {
            width: 10%;
        }
    }

    &.v2 {
        background-color: #B1002B;
        color: #ffffff;
        border-radius: 8px;
        text-decoration: none;
        font-size: 1.2em;
        padding: 10px 90px;
        position: relative;
        top: 40px;
    }
    &.v3 {
        border: 2px solid #ffffff;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.3em;
        padding: 10px 96px;
    }
    &.v4{
        background-color: transparent;
        color:  $color-7;
        padding: 15px 70px;
        text-transform: uppercase;
        border: 2px solid  $color-7;
    }
}
.simulador{
    padding: 450px 250px;
    text-align: center;
    h1 {
        font-family: 'HoeflerText-Regular';
    }
    p {
        padding: 5px 300px 10px 300px;
        font-family: 'IgnaSans-Regular';
    }
}
.logo-topo{
    padding: 150px 0 0 0;
    &.v1 {
        padding: 200px 0 0 0;
    }
    &.v2{
        position: relative;
        top: 110px;
        left: 230px;
        img {
            width: 90%;
        }
    }
    img {
        width: 100%;
    }
    .txt-topo{
        font-size: 4.5em;
        color: #ffffff;
        position: relative;
        top: -220px;
        left: 30%;
        font-family: 'HoeflerText-Regular';
        &.v1 {
            font-size: 3.5em;
            left: 0;
            text-align: center;
            padding: 0 50px;
        }
    }
}
.botao {
    padding: 50px 0 100px 0;
}
input {
    width: 95%;
    height: 9vh;
    border: none;
    border-block-end: 1px solid black;
    outline: 0;
}

.mobile {
    @include media-breakpoint-down(md) {
        display: block;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        display: none;
    }
}
.desktop {
    @include media-breakpoint-down(md) {
        display: none;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        display: block;
    }
}
select {
    border: 1px solid $color-6;
    border-radius: 8px;
    background-color: transparent;
    color: $color-6;
    font-family: 'IgnaSans-Medium';
    padding: 10px 50px 10px 5px;
    position: relative;
    left: -30%;
}
.setas {
    position: relative;
    top: -250px;
    left: -55px;
    img {
        width: 7%;
    }
    &.v1{
        top: -280px;
        left: 7px;
        width: 100%;
        img {
            width: 5%;
        }
    }
}
.seta-um {
    position: absolute;
    right: -105px;
    &.v1 {
        right: -40px;
    }
}
.seta-dois {
    position: absolute;
    left: -50px;
}
