<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 bg" style="background-image: url('./assets/backgrounds/home.png'); background-repeat: no-repeat;">
            <div class="card-home">
                <h1>
                    A harmonia entre
                    o mundo dos vinhos
                    e a gastronomia.
                </h1>
                <a class="btn-vdv v2" href="javascript:void(0)" routerLinkActive='active' routerLink='#' data-toggle="modal" data-target="#exampleModal">
                    Conheça Mais
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 promocoes">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 mx-auto bg v1 vv" style="background-image: url('./assets/backgrounds/promocoes.png'); background-repeat: no-repeat;">
                            <h1 class="txt-destaque titulo">Promoções</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="card card-promocao" data-toggle="modal" data-target="#ModalPromo">
                                <img src="./assets/photos/promo-um.png" alt="promocao">
                                <div class="card-body">
                                  <h5 class="card-title">Black Friday - 20% em todo site</h5>
                                  <p class="txt-textos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nisl</p>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="ModalPromo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <p class="txt-destaque">Insira os seus dados para receber o desconto</p>
                                    <form action="#">
                                        <input type="text" name="nome" placeholder="Nome">
                                        <input type="email" name="email" placeholder="Email">
                                        <input type="text" name="celular" placeholder="Celular">
                                        <a class="btn-vdv v2 text-uppercase" href="javascript:void(0)" routerLinkActive='active' routerLink='#' data-toggle="modal" data-target="#exampleModal">
                                            Quero 20% de desconto
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card card-promocao" data-toggle="modal" data-target="#ModalPromo2">
                                <img src="./assets/photos/promo-dois.png" alt="promocao">
                                <div class="card-body">
                                  <h5 class="card-title">Papai Noel chegou mais cedo!</h5>
                                  <p class="txt-textos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nisl</p>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="ModalPromo2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <p class="txt-destaque">Insira os seus dados para frete grátis</p>
                                    <form action="#">
                                        <input type="text" name="nome" placeholder="Nome">
                                        <input type="email" name="email" placeholder="Email">
                                        <input type="text" name="celular" placeholder="Celular">
                                        <a class="btn-vdv v2 text-uppercase" href="javascript:void(0)" routerLinkActive='active' routerLink='#' data-toggle="modal" data-target="#exampleModal">
                                            Quero frete grátis
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="card card-promocao" data-toggle="modal" data-target="#ModalPromo3">
                                <img src="./assets/photos/promo-tres.png" alt="promocao">
                                <div class="card-body">
                                  <h5 class="card-title">Insta Sorteiro </h5>
                                  <p class="txt-textos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis nisl</p>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="ModalPromo3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <p class="txt-destaque">Insira os seus dados para concorrer a um jantar</p>
                                    <form action="#">
                                        <input type="text" name="nome" placeholder="Nome">
                                        <input type="email" name="email" placeholder="Email">
                                        <input type="text" name="celular" placeholder="Celular">
                                        <a class="btn-vdv v2 text-uppercase" href="javascript:void(0)" routerLinkActive='active' routerLink='#' data-toggle="modal" data-target="#exampleModal">
                                            Quero participar
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 vinho">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 mx-auto bg v1 vv" style="background-image: url('./assets/backgrounds/vinhos.png'); background-repeat: no-repeat;">
                            <h1 class="txt-destaque v1 titulo">Vinhos</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-11 col-md-11 mx-auto">
                            <nav class="vinhos desktop">
                                <ul>
                                    <a class="categorias" href="javascript:void(0)" [routerLink]="['maisvendidos']" routerLinkActive="active">
                                        <li>Mais Vendidos</li>
                                    </a>
                                    <a class="categorias" href="javascript:void(0)" [routerLink]="['porpreco']" routerLinkActive="active">
                                        <li>Por Preço</li>
                                    </a>
                                    <a class="categorias" href="javascript:void(0)" [routerLink]="['regiao']" routerLinkActive="active">
                                        <li>País e Região</li>
                                    </a>
                                    <a class="categorias" href="javascript:void(0)" [routerLink]="['tipo']" routerLinkActive="active">
                                        <li>Tipos de Vinho</li>
                                    </a>
                                    <a class="categorias" href="javascript:void(0)" [routerLink]="['selecao']" routerLinkActive="active">
                                        <li>Seleção Especial</li>
                                    </a>
                                </ul>
                            </nav>
                            <div class="vinhos-mob">
                                <select name="vinhos" id="vinhos" class="mobile">
                                    <option value="maisvendidos">Mais Vendidos</option>
                                    <option value="porpreco">Por Preço</option>
                                    <option value="paiseregiao">País e Região</option>
                                    <option value="tipos">Tipos de Vinhos</option>
                                    <option value="selecao"> Seleção Especial</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12  mx-auto text-center">
                            <router-outlet></router-outlet>
                            <div class="botao">
                                <a class="btn-vdv v3" href="javascript:void(0) " [routerLink]="['/vinhos']" routerLinkActive="active">Ver todos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 mx-auto bg v1 vv" style="background-image: url('./assets/backgrounds/nossas_lojas.png'); background-repeat: no-repeat;">
                            <h1 class="titulo">Nossas Lojas</h1>
                        </div>
                    </div>
                    <app-unidades></app-unidades>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 bg v3 simulador" style="background-image: url('./assets/backgrounds/wine.png'); background-repeat: no-repeat;">
            <h1 class="desktop">Wine Match</h1>
            <p class="desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed </p>
            <a class="btn-vdv v4" href="javascript:void(0)" routerLinkActive='active' routerLink='#'>
                Fazer Simulação
            </a>
        </div>
    </div>
</div>
