@import 'variables';
@import 'components';
@import 'helpers'; 

.card-home {
    color: #ffffff;
    width: 526px;
    height: 226px;
    padding: 30px 65px;
    position: relative;
    top: 170px;
    left: 25px;
    font-family: 'HoeflerText-Regular';
    h1 {
        font-size: 3.0em;
    }
    @include media-breakpoint-down(md) {
        top: 220px;
        left: 0;
        width: 100%;
        padding: 30px 0px;
        text-align: center;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {}
}
.promocoes {
    padding-bottom: 50px;
    .card-promocao {
        cursor: pointer;
        img {
            height: 31vh;
        }
        .card-title {
            font-family: 'IgnaSans-Medium';
        }
    }
}
.titulo {
    position: absolute;
    top: 140px;
    font-size: 3.5em;
    font-family: 'HoeflerText-Regular';
    @include media-breakpoint-down(md) {
        left: 80px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        left: 35%;
    }
    &.v1 {
        @include media-breakpoint-down(md) {
            left: 130px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            left: 280px;
        }
    }
}
.vinhos {
    padding: 50px 0;
    a {
        color:  $color-6;
        text-decoration: none;
        &.active {
            color:  $color-2;
        }
    }
    li {
        display: inline;
        padding: 0 42px;
        font-size: 1.2em;
    }
    &:before {
        @include media-breakpoint-down(md) {}
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            content: '';
            position: absolute;
            top: 100px;
            left: -150px;
            width: 122.5%;
            height: 5px;
            background-color: $color-1;
    }
        
    }
    .categorias{
        font-family: 'IgnaSans-Regular';
        @include media-breakpoint-down(md) {
            display: block;
            text-align: center;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
        &.active:before {
            @include media-breakpoint-down(md) {}
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {
                content: '';
            position: absolute;
            top: 100px;
            width: 20%;
            height: 5px;
            background-color: $color-5;
            }
            
        }
    }
}


.modal-content {
    text-align: center;
    top: 70px;
    border-radius: 8px;
    padding: 30px 30px 100px 30px;
    p {
        font-size: 1.5em;
        
        @include media-breakpoint-down(md) {
            padding: 0 0 20px 0;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 0 60px 20px 60px;
        }             
    }
    .close {
        position: relative;
        left: 50%;
        top: -20px;
    }
    .btn-vdv {
        &.v2{
            @include media-breakpoint-down(md) {
                font-size: 0.9em;
                padding: 10px 50px;
            }
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {}             
        }
    }
}

.simulador{
    @include media-breakpoint-down(md) {
        height: 50vh;
        padding: 20px 50px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 450px 250px;
    }
    p {        
        @include media-breakpoint-down(md) {
            padding: 5px 0 10px 0;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 5px 300px 10px 300px;
        }
    }
}
.bg {
    &.v1{
        @include media-breakpoint-down(md) {
            height: 25vh;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
        &.vv {
            background-size: 90%;
        }
    }
    &.v3{
        @include media-breakpoint-down(md) {
            background-size: 90%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    }
}
.btn-vdv{
    
    &.v4{
        @include media-breakpoint-down(md) {
            padding: 15px 30px;
            position: relative;
            top: 230px;
        }
    }
}
.card-vinho {
    position: relative;
    left: 10%;
    width: 80%;
    padding: 10px 0;
    img {
        @include media-breakpoint-down(md) {
            width: 20%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}        
    }
    a {
        @include media-breakpoint-down(md) {
            font-size: 1.0em;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {} 
    }
    .img-vinho {
        img {
            position: relative;
            left: 40%;
        }
    }
    .icone {
        padding: 0 10px;
        @include media-breakpoint-down(md) {
            width: 50%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
        a {
            @include media-breakpoint-down(md) {
                position: relative;
                top: -20px;
                left: 30px;
            }
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {}            
        }
        img {
            @include media-breakpoint-down(md) {
                width: 10%;
            }
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {}            
        }
    }
    .vinho-info {
        @include media-breakpoint-down(md) {
            width: 50%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    }
    .vinho-pais {
        @include media-breakpoint-down(md) {
            top: -20px;
            left: 20px;
        }
    }
}
.vinhos-mob {
    padding: 50px 0 ;
    select {
        left: 70px;
    }
}
