<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col md-12 bg" style="background-image: url('./assets/backgrounds/lojas.png');background-repeat: no-repeat;">
          <div class="row">
              <div class="col-lg-5 col-md-5 mx-auto logo-topo">
                <img src="./assets/backgrounds/loja.png" alt="lojas">
                <p class="txt-topo text-uppercase">Lojas</p>                
              </div>
          </div>
        </div>
    </div>
</div>

<app-alphaville></app-alphaville>
<app-itaim></app-itaim>