@import 'variables';
@import 'components';
@import 'helpers'; 

.bg {
    @include media-breakpoint-down(md) {
        height: 50vh;
    }
}
.unidade{
    font-family: 'IgnaSans-Regular';
    @include media-breakpoint-down(md) {
        padding: 5px 0 50px 20px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
      padding: 50px 0;  
    }    
    &.v1{
        @include media-breakpoint-down(md) {
            padding: 5px 0 50px 20px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 50px 0 50px 30px;
        }          
    }
    .local{
        font-size: 1.7em;
        text-transform: uppercase;
        @include media-breakpoint-down(md) {
            padding-left: 25px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    }
    .descricao {
        color:  $color-6;
        font-size: 1.2em;
        padding: 5px 50px 5px 25px;
    }
}
.end-unidade {
    padding: 5px 25px;
    font-size: 1.2em;
    img {
        @include media-breakpoint-down(md) {
            width: 7%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            width: 4%;
        }
    }
}
.btn-vdv{
    &.v2{
        padding: 10px 50px;
        top: 0;
        left: 5%;
        font-size: 0.9em;
        img {
            width: 3.7%;
        }
    }
}
.slide-unidade {
    @include media-breakpoint-down(md) {
        padding: 0 50px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 70px 50px 0 50px;
    }    
}
.unidades-lojas {
    position: relative;
    top: 70px;
    &.v1{
        @include media-breakpoint-down(md) {
            top: 100px;
            height: 125vh;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            top: 150px;
            height: 100vh;
        }           
    }
}

.logo-topo {
    .txt-topo{
        @include media-breakpoint-down(md) {
            font-size: 2.5em;
            top: -130px;
            left: 130px;
        }
    }
    img {
        @include media-breakpoint-down(md) {
            width: 70%;
            position: relative;
            left: 60px;
            top: -20px;  
        }
    }    
}



