<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col md-12 bg" style="background-image: url('./assets/backgrounds/corporativo_bg.png');background-repeat: no-repeat;">
          <div class="row">
              <div class="col-lg-6 col-md-6 mx-auto logo-topo v1">
                <img src="./assets/backgrounds/EventosCorporativos.png" alt="eventos">
                <p class="txt-topo text-uppercase v1">Eventos Corporativos</p>                
              </div>
          </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 espaco-card v1" style="background-image: url('./assets/backgrounds/vinho.png');background-repeat: no-repeat;">
           <div class="row">
               <div class="col-lg-6 col-md-6 espaco-slide desktop">
                    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="espacosConfig"
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let espaco of espacos; let idx = index" class="slide" (click)="Slide(espacos)">
                            <img [src]="espaco.img" alt="espaco">                            
                            <!-- <div class="setas">
                                <a (click)="slickModal.slickPrev()" class="px-0">
                                    <img src="./assets/icons/arrow-left.png" alt="">
                                </a>
                                <a (click)="slickModal.slickNext()" class="px-0">
                                    <img class="seta-um" src="./assets/icons/arrow-right.png" alt="">
                                </a>
                            </div> -->
                        </div>
                    </ngx-slick-carousel> 
               </div>
               <div class="col-lg-5 col-md-5">
                    <div class="espaco">
                        <p>O espaço</p>
                        <div class="txt-espaco">
                            Nossa espaço é reservado para eventos nos 
                            nossos bistrôs. Agrega todas as vantagens e serviços da loja e do bistrô em um espaço 
                            pensado especialmente para comportar o 
                            seu evento com conforto e exclusividade.
                        </div>
                    </div>
               </div>
           </div>
           <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="espaco v1">
                        <p>A equipe</p>
                        <div class="txt-espaco">
                            A Ville du Vin oferece uma equipe personalizada capaz de atender desde o 
                            mais experiente amante de vinhos até os clientes que estão adentrando o universo
                            da degustação vínica.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 vinho vi espaco-card">
            <div class="row">
                <div class="col-lg-6 col-md-6 gastronomia order-lg-first">
                    <img src="./assets/photos/gastronomia.png" alt="gastronimia">
                </div>
                <div class="col-lg-6 col-md-6 order-first">
                    <div class="espaco v2">
                        <p class="titulo-espaco">Gastronomia</p>
                        <div class="txt-espaco v1">
                            Os menus de cada evento são personalizados de acordo com as necessidades de cada cliente.
                            Nossa equipe está preparada para oferecer inúmeras opções de cardápio criadas e adaptadas
                            de acordo com a ocasião.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto text-center opcao-menu">
                    <h1>Algumas opções do Menu</h1>  
                    <div class="desktop">
                        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="menuConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">                        
                            <div ngxSlickItem *ngFor="let menus of menu; let idx = index" class="slide" (click)="SlideMenu(menu)">
                                <img [src]="menus.img" alt="menu">
                                <p class="txt-menu"> {{ menus.name }} </p>
                            </div>
                        </ngx-slick-carousel>  
                    </div>  
                    <div class="mobile opcoesMob">
                        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="menuMobConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">                        
                            <div ngxSlickItem *ngFor="let menus of menu; let idx = index" class="slide" (click)="SlideMenuMob(menu)">
                                <img [src]="menus.img" alt="menu">
                                <p> {{ menus.name }} </p>
                            </div>
                        </ngx-slick-carousel> 
                    </div>              
                </div>
            </div>
            <app-unidades></app-unidades>
        </div>
    </div>
</div>

    

