@import 'variables';
@import 'components';
@import 'helpers'; 

.espaco-card {
    position: relative;
    top: -9px;
    padding-block-end: 50px;
    &.v1{
        height: 1250px;
        background-size: 100% 99%;
        @include media-breakpoint-down(md) {
            height: 750px;
            background-color: $color-1;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            background-color: $color-8;
        }        
    }
}
.espaco {
    padding: 50px 15px;
        @include media-breakpoint-down(md) {
            text-align: center;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    &.v1 {
        @include media-breakpoint-down(md) {
            padding: 0 30px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 80px 30px;
        }
    }
    &.v2 {
        @include media-breakpoint-down(md) {
            padding: 60px 5px 10px 5px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 20px 30px;
        }        
    }
    p   {
        font-size: 3.5em;
        color: $color-4;
        font-family: 'HoeflerText-Regular';
    }
    .titulo-espaco{
        color: $color-5;
    }
    .txt-espaco {
        color: $color-2;
        font-family: 'IgnaSans-Regular';
        @include media-breakpoint-down(md) {
            font-size: 1.2em;
            padding: 15px 0;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {            
            font-size: 1.5em;            
            padding: 15px 90px 0 15px;
        }
        &.v1{
            color: $color-6;
        }
    }

}
.espaco-slide {
    padding: 0 40px;
}
.gastronomia {
    img {
        @include media-breakpoint-down(md) {
            top: -80px;
            left: 30px;
            width: 480px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            position: relative;
            top: -220px;
            left: -170px;
            width: 730px; 
        }
           
    }
}
.txt-menu {
    font-family: 'IgnaSans-Regular';
}
.opcao-menu {
    padding: 0 0 100px 0;
}
h1 {
    color: $color-5;
    position: relative;
    text-align: center;    
    font-family: 'HoeflerText-Regular';
    @include media-breakpoint-down(md) {
        top: 0;
        padding: 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        top: -150px;
        padding: 0 425px;
    }
}
.bg {
    @include media-breakpoint-down(md) {
        height: 50vh;
    }
}
.logo-topo{
    img {
        @include media-breakpoint-down(md) {
            position: relative;
            top: -20px;
        }
    }
    .txt-topo{
        &.v1 {
            @include media-breakpoint-down(md) {
                font-size: 2.0em;
                padding: 80px 50px;
            }
        }
    }
}

.opcoesMob {
    padding: 5px 30px;
    img {
        position: relative;
        left: 60px;
    }
}