@import 'variables';
@import 'components';
@import 'helpers'; 

.footer {
    .card-footer{
        background-color: $color-2;
        p {
            font-weight: bold;
        }
        li {
            display: block;
            padding: 8px 0;
        }
        a {
        color: $color-6;
        text-decoration: none;
            &:hover {
                color: $color-5;
            }
        }
        .btn-vdv {
            &.v1 {     
                color: $color-5;
            }
        }
    }
    .logo-footer {
        img {
            width: 75%;
        }
    }
    .redes {
            padding: 10px 60px;        
        img {            
            @include media-breakpoint-down(md) {
                padding: 15px 10px;
            }
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {
                padding: 15px 0;
            }
        }
    }
}
