<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-10 col-md-10 mx-auto footer txt-textos">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 card-footer text-center">
                            <div class="logo-footer">
                                <img src="./assets/logos/villeduvin.png" alt="logo-villeduvin">
                            </div> 
                            <div class="redes">
                                <img src="./assets/icons/facebook.png" alt="facebook">
                                <img src="./assets/icons/instagram.png" alt="instagram">
                                <img src="./assets/icons/youtube.png" alt="youtube">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 card-footer">
                            <p class="txt-destaque">Vinhos</p>
                            <a href="javascript:void(0)" [routerLink]="['mais']" routerLinkActive="active"><li>Mais Vendidos</li></a>
                            <a href="javascript:void(0)" [routerLink]="['preco']" routerLinkActive="active"><li>Por Preço</li></a>
                            <a href="javascript:void(0)" [routerLink]="['pais']" routerLinkActive="active"><li>Países</li></a>
                            <a href="javascript:void(0)" [routerLink]="['tiposv']" routerLinkActive="active"><li>Tipos de Vinhos</li></a>
                            <a href="javascript:void(0)" [routerLink]="['selecaoesp']" routerLinkActive="active"><li>Seleção Especial</li></a>
                        </div>
                        <div class="col-lg-2 col-md-2 card-footer">
                            <p class="txt-destaque">Empresa</p>
                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='/sobre'><li>Quem Somos</li></a>
                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='/lojas'><li>Lojas</li></a>
                            <a href="javascript:void(0)" routerLinkActive='active' routerLink='/lojas'><li>Bistrôs</li></a>
                        </div>
                        <div class="col-lg-3 col-md-3 card-footer">
                            <p class="txt-destaque">Ajuda</p>
                            <a href="#"><li>RTE</li></a>
                            <a href="#"><li>Termos de Uso</li></a>
                            <a href="#"><li>Política de Privacidade</li></a>
                            <a href="#"><li>Entrega e Pagamento</li></a>
                            <a href="#"><li>Devoluções e Trocas</li></a>
                            <a href="#"><li>Diretiro de Arrependimento</li></a>
                            <a href="#"><li>Como pagar</li></a>
                        </div>
                        <div class="col-lg-3 col-md-3 card-footer">
                            <p class="txt-destaque">Contato</p>
                            contato@gmail.com
                            <div class="txt-destaque"> Atendimento</div>
                            (11) 0000-0000
                            <div class="txt-destaque">Reserva</div>
                            (11) 0000-0000 <br/>
                            <a class="btn-vdv v1" href="javascript:void(0)" routerLinkActive='active' routerLink='#' data-toggle="modal" data-target="#exampleModal">
                                <img src="./assets/icons/whatsapp.png" alt="whatsapp">
                                Fale com a gente
                            </a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>