<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 evento" style="background-image: url('./assets/backgrounds/corporativo.png'); background-repeat: no-repeat;">
                    <div class="quadrado">
                        <a href="javascript:void(0)" routerLinkActive='active' routerLink='/corporativos'>
                            Eventos <br/>Corporativos
                        </a>                       
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 evento v1" style="background-image: url('./assets/backgrounds/eventos.png'); background-repeat: no-repeat;">
                    <div class="quadrado v1">
                        <a href="javascript:void(0)" routerLinkActive='active' routerLink='/villeduvin'>
                            Eventos <br/>Ville Du Vin
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>