@import 'variables';
@import 'components';
@import 'helpers'; 

.evento{
    text-align: center;
    text-transform: uppercase;
    font-family: 'HoeflerText-Regular';
    @include media-breakpoint-down(md) { 
        height: 40vh;   
        position: relative;
        top: 110px;    
        background-size: 100% 100%;
        padding: 15px 20px 0 20px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {        
        background-size: 100%;
        padding: 110px 30px 30px 30px;
    }
    &.v1 {
        @include media-breakpoint-down(md) {
            height: 52vh;       
            background-size: 100% 100%; 
            padding: 25px 20px 0 20px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {        
            background-size: 100%;
            padding: 110px 30px 30px 30px;
        }
    }
    a{        
        text-decoration: none;
        color: $color-2;
        position: relative;        
        @include media-breakpoint-down(md) {
            font-size: 2.5em;
            top: 80px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            font-size: 3.0em;
            top: 180px;
        }
    }
}
.quadrado {
    border: 2px solid  $color-4;
    @include media-breakpoint-down(md) {
        height: 36vh;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        height: 80vh;
    }
    &.v1{
        border-color:  $color-5;
        @include media-breakpoint-down(md) {
            height: 33vh;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    }
}