<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center vinho filtros">
            <select name="filtro" id="filtro" class="ordenar">
                <option value="filtro" disabled>Filtros</option>
                <option value="exemplo">Exemplo</option>
            </select>
            <select name="ordenar" id="ordenar" class="ordenar v1">
                <option value="ordenar" disabled>Ordenar por</option>
                <option value="exemplo">Exemplo</option>
            </select>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center vinho">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto lista-vinhos">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mx-auto bg v1" style="background-image: url('./assets/backgrounds/vinho-vinho.png'); background-repeat: no-repeat;">
                            <h2>Vinhos</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 cards-vinhos desktop" *ngFor="let vinho of vinhos;">
                            <div class="card card-vinho">
                                <div class="img-vinho">
                                    <img [src]="vinho.wine" alt="vinho">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ vinho.name }}</h5>
                                    <p class="txt-textos">{{ vinho.price }}</p>
                                    <div class="row text-left">
                                        <div class="col-lg-4 col-md-4 icone">
                                            <img src="./assets/icons/localizacao.png" alt="localizacao">
                                            <a>País</a>
                                        </div>
                                        <div class="col-lg-8 col-md-8 ">
                                            <img [src]="vinho.flag" alt="bandeira">
                                            <a class="txt-textos text-uppercase">{{ vinho.pais }}</a>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-lg-4 col-md-4 icone">
                                            <img src="./assets/icons/grapes.png" alt="uvas">
                                            <a class="text-uppercase">Uva</a>
                                        </div>
                                        <div class="col-lg-8 col-md-8">
                                            <a class="txt-textos">{{ vinho.grapes }}</a>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-lg-4 col-md-4 icone">
                                            <img src="./assets/icons/produtor.png" alt="produtor">
                                            <a>Produtor</a>
                                        </div>
                                        <div class="col-lg-8 col-md-8">
                                            <a class="txt-textos">{{ vinho.produtor }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12  mx-auto text-center mobile vinhos-mob">
                            <ngx-slick-carousel class="carousel"
                                #slickModal="slick-carousel"
                                [config]="vinhosConfig"
                                (init)="slickInit($event)"
                                (breakpoint)="breakpoint($event)"
                                (afterChange)="afterChange($event)"
                                (beforeChange)="beforeChange($event)">
                                    <div ngxSlickItem *ngFor="let vinho of vinhos; let idx = index" class="slide" (click)="SlideMob(vinhos)">
                                        <div class="card card-vinho">
                                            <div class="img-vinho">
                                                <img [src]="vinho.wine" alt="vinho">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">{{ vinho.name }}</h5>
                                                <p class="txt-textos">{{ vinho.price }}</p>
                                                <div class="row text-left">
                                                    <div class="col-lg-4 col-md-4 icone">
                                                        <img src="./assets/icons/localizacao.png" alt="localizacao">
                                                        <a>País</a>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 vinho-info">
                                                        <img [src]="vinho.flag" alt="bandeira">
                                                        <a class="txt-textos text-uppercase">{{ vinho.pais }}</a>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-lg-4 col-md-4 icone">
                                                        <img src="./assets/icons/grapes.png" alt="uvas">
                                                        <a class="text-uppercase">Uva</a>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 vinho-info">
                                                        <a class="txt-textos">{{ vinho.grapes }}</a>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <div class="col-lg-4 col-md-4 icone">
                                                        <img src="./assets/icons/produtor.png" alt="produtor">
                                                        <a>Produtor</a>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 vinho-info">
                                                        <a class="txt-textos">{{ vinho.produtor }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 bg v3 vinho simulador" style="background-image: url('./assets/backgrounds/wine.png'); background-repeat: no-repeat;">
        <h1 class="desktop">Wine Match</h1>
        <p class="desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed </p>
        <a class="btn-vdv v4" href="javascript:void(0)" routerLinkActive='active' routerLink='#'>
            Fazer Simulação
        </a>
        </div>
    </div>
</div>
