@import 'variables';
@import 'components';
@import 'helpers';

.card-vinho {
    .img-vinho {
        img {
            left: 0;
        }
    }
}
.lista-vinhos {
    position: relative;
    top: 140px;
    padding-bottom: 150px;
}
.filtros {
    position: fixed;
    z-index: 1;
    @include media-breakpoint-down(md) {
        padding: 10px 0 10px 0;
        position: absolute;
        top: 150px;
        left: 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 100px 0 10px 0;
    }
}

.ordenar {
    position: relative;
    @include media-breakpoint-down(md) {
        left: 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        left: -30%;
    }
    &.v1{
        @include media-breakpoint-down(md) {
            left: 10px;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            left: -28%;

        }
    }
}
h2 {
    color: $color-2;
    font-size: 4.0em;
    @include media-breakpoint-down(md) {
        padding: 150px 0;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 90px 0;
    }
}
.vinhos-mob {
    @include media-breakpoint-down(md) {
        padding:60px 50px;
    }
}
.simulador{
    @include media-breakpoint-down(md) {
        padding: 20px 50px;
    }
    @include media-breakpoint-up(md) {}
    @include media-breakpoint-up(lg) {
        padding: 450px 250px;
    }
    p {
        @include media-breakpoint-down(md) {
            padding: 5px 0 10px 0;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            padding: 5px 300px 10px 300px;
        }
    }
}
.bg {
    &.v1 {
        @include media-breakpoint-down(md) {
            background-size: 99%;
        }
    }
    &.v3{
        @include media-breakpoint-down(md) {
            height: 30vh;
            background-position: left;
            background-size: 100%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {
            background-size: 80% 80%;
            background-position: center;
        }
    }
}
.btn-vdv{

    &.v4{
        @include media-breakpoint-down(md) {
            padding: 15px 30px;
            position: relative;
            top: 175px;
        }
    }
}
.card-vinho {
    position: relative;
    left: 10%;
    width: 80%;
    padding: 10px 0;

    img {
        @include media-breakpoint-down(md) {
            width: 20%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    }
    a {
        @include media-breakpoint-down(md) {
            font-size: 1.0em;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    }
    .img-vinho {
        img {
            @include media-breakpoint-down(md) {
                left: 40%;
            }
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {
                left: 0;
            }

        }
    }
    .icone {
        padding: 0 10px;
        @include media-breakpoint-down(md) {
            width: 50%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
        a {
            @include media-breakpoint-down(md) {
                position: relative;
                top: -20px;
                left: 30px;
            }
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {}
        }
        img {
            @include media-breakpoint-down(md) {
                width: 20%;
            }
            @include media-breakpoint-up(md) {}
            @include media-breakpoint-up(lg) {}
        }
    }
    .vinho-info {
        @include media-breakpoint-down(md) {
            width: 50%;
        }
        @include media-breakpoint-up(md) {}
        @include media-breakpoint-up(lg) {}
    }
    .vinho-pais {
        @include media-breakpoint-down(md) {
            top: -20px;
            left: 20px;
        }
    }
}
