/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'LemonTuesday';
    src: url('./assets/fonts/LemonTuesday/LemonTuesday.eot');
    src: url('./assets/fonts/LemonTuesday/LemonTuesday.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/LemonTuesday/LemonTuesday.svg#LemonTuesday') format('svg'),
         url('./assets/fonts/LemonTuesday/LemonTuesday.ttf') format('truetype'),
         url('./assets/fonts/LemonTuesday/LemonTuesday.woff') format('woff'),
         url('./assets/fonts/LemonTuesday/LemonTuesday.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'IgnaSans-Medium';
    src: url('./assets/fonts/IgnaSans/IgnaSans-Medium.eot');
    src: url('./assets/fonts/IgnaSans/IgnaSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/IgnaSans/IgnaSans-Medium.svg#IgnaSans-Medium') format('svg'),
         url('./assets/fonts/IgnaSans/IgnaSans-Medium.ttf') format('truetype'),
         url('./assets/fonts/IgnaSans/IgnaSans-Medium.woff') format('woff'),
         url('./assets/fonts/IgnaSans/IgnaSans-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
font-family: 'IgnaSans-Regular';
src: url('./assets/fonts/IgnaSans/IgnaSans-Regular.eot');
src: url('./assets/fonts/IgnaSans/IgnaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/IgnaSans/IgnaSans-Regular.svg#IgnaSans-Regular') format('svg'),
        url('./assets/fonts/IgnaSans/IgnaSans-Regular.ttf') format('truetype'),
        url('./assets/fonts/IgnaSans/IgnaSans-Regular.woff') format('woff'),
        url('./assets/fonts/IgnaSans/IgnaSans-Regular.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
@font-face {
  font-family: 'IgnaSans-Bold';
  src: url('./assets/fonts/IgnaSans/IgnaSans-Bold.eot');
  src: url('./assets/fonts/IgnaSans/IgnaSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/IgnaSans/IgnaSans-Bold.svg#IgnaSans-Bold') format('svg'),
       url('./assets/fonts/IgnaSans/IgnaSans-Bold.ttf') format('truetype'),
       url('./assets/fonts/IgnaSans/IgnaSans-Bold.woff') format('woff'),
       url('./assets/fonts/IgnaSans/IgnaSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HoeflerText-Regular';
  src: url('./assets/fonts/Hoefler/HoeflerText-Regular.eot');
  src: url('./assets/fonts/Hoefler/HoeflerText-Regular.eot?#iefix') format('embedded-opentype'),
          url('./assets/fonts/Hoefler/HoeflerText-Regular.svg#HoeflerText-Regular') format('svg'),
          url('./assets/fonts/Hoefler/HoeflerText-Regular.ttf') format('truetype'),
          url('./assets/fonts/Hoefler/HoeflerText-Regular.woff') format('woff'),
          url('./assets/fonts/Hoefler/HoeflerText-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


