<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 unidades-lojas">
            <div class="row">
                <div class="col-lg-11 col-md-11 mx-auto">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 unidade">
                            <p class="local">Alphaville</p>
                            <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et blandit mi.
                                Praesent felis dolor, gravida sit amet nisl ac, fringilla</p>
                            <div class="end-unidade">
                                <p>
                                    <img src="./assets/icons/localizador.png" alt="">
                                    Alameda Tocantins, 75 
                                </p>
                                <p>
                                    <img src="./assets/icons/whatsapp.png" alt="">
                                    Contato: Luciana Zarif - (11) 93028 391
                                </p>                                
                            </div>
                            <a class="btn-vdv v2" href="javascript:void(0)" routerLinkActive='active' routerLink='#' data-toggle="modal" data-target="#exampleModal">
                                <img src="./assets/icons/whatsapp-white.png" alt="whatsapp">
                                Entre em contato
                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7 slide-unidade unidades">
                            <ngx-slick-carousel class="carousel"
                                #slickModal="slick-carousel"
                                [config]="unidadeAlphaConfig"
                                (init)="slickInit($event)"
                                (breakpoint)="breakpoint($event)"
                                (afterChange)="afterChange($event)"
                                (beforeChange)="beforeChange($event)">
                                    <div ngxSlickItem *ngFor="let unidades of unidadeAlpha; let idx = index" class="slide" (click)="Slide(unidades)">
                                        <img [src]="unidades.img" alt="Alphaville">
                                    </div>                                    
                            </ngx-slick-carousel>  
                            <div class="setas">
                                <a (click)="slickModal.slickPrev()" class="px-0">
                                    <img class="seta-um" src="./assets/icons/arrow-right.png" alt="">
                                </a>
                                <a (click)="slickModal.slickNext()" class="px-0">
                                    <img src="./assets/icons/arrow-left.png" alt="">
                                </a>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>